<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="header-link"><img src="./img/Bing-logo.png" alt="" class="bing-logo"></div>
                <div class="header-link"><a href="#">Imágenes</a></div>
                <div class="header-link"><a href="#">Vídeos</a></div>
                <div class="header-link"><a href="#">· · ·</a></div>
            </div>
            <div class="header-right">
                <div class="header-link"><a href="#">català</a></div>
                <div class="header-link"><a href="#">English</a></div>
                <div class="header-link"><a href="#">Iniciar sesión</a></div>
                <div class="header-link">Icon</div>
                <div class="header-link"><a href="#">Rewards</a></div>
                <div class="header-link">Icon</div>
                <div class="header-link">Icon</div>
            </div>
        </div>
        <div class="main">
            <div class="main-up">
                <div class="main-up-search"><input type="search"></div>
                <div class="main-up-button">
                    <div class="main-up-button-">Micro</div>
                    <div class="main-up-button-">QR</div>
                    <div class="main-up-button-">Keyboard</div>
                    <div class="main-up-button-">Search</div>
                </div>
            </div>
            <div class="main-down">
                <div class="main-down-scroll">
                    <div class="main-down-scroll-down"><a href="#">Icon</a></div>
                    <div class="main-down-scroll-buttons">
                        <a href="#" class="main-down-scroll-buttons-link">Icon</a>
                        <a href="#" class="main-down-scroll-buttons-link">Icon</a>
                        <a href="#" class="main-down-scroll-buttons-link">Icon</a>
                        <a href="#" class="main-down-scroll-buttons-link">Icon</a>
                    </div>
                </div>
                <div class="main-down-cover">
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                    <div class="main-down-cover-link"><a href="#"><img src="./img/fondo-noticia.avif" class="cover-image" alt=""></a></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-left">
                <div class="footer-link"><a href="#">Privacidad y cookies</a></div>
                <div class="footer-link"><a href="#">Información legal</a></div>
                <div class="footer-link"><a href="#">Anunciar</a></div>
                <div class="footer-link"><a href="#">Acerca de nuestros anuncios</a></div>
                <div class="footer-link"><a href="#">Ayuda</a></div>
                <div class="footer-link"><a href="#">Comentarios</a></div>
                <div class="footer-link"><a href="#">Protección de datos europea</a></div>
            </div>
            <div class="footer-right">
                <div class="footer-link"><a href="#">2021 Microsoft</a></div>
            </div>
        </div>
    </div>
</body>
</html>