<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="header-link"><img src="./img/logo_netflix.png" alt="" class="logo-netflix"></div>
                <div class="header-link"><a class="inicio" href="#">Inicio</a></div>
                <div class="header-link"><a href="#">Series TV</a></div>
                <div class="header-link"><a href="#">Películas</a></div>
                <div class="header-link"><a href="#">Novedades más vistas</a></div>
                <div class="header-link"><a href="#">Mi lista</a></div>
            </div>
            <div class="header-right">
                <div class="header-link"><a href="#">Icon</a></div>
                <div class="header-link"><a href="#">Icon</a></div>
                <div class="header-link"><a href="#">Icon</a></div>
                <div class="header-link"><a href="#">Perfil</a></div>
            </div>
        </div>
        <div class="title"><span>Documentales</span></div>
        <div class="content">
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
        </div>
        <div class="title"><span>Volver a ver</span></div>
        <div class="content">
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
        </div>
        <div class="title"><span>Series TV</span></div>
        <div class="content">
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
            <div class="box"><img src="./img/breaking_bad.jpeg" alt="" class="bb-img"></div>
        </div>
    </div>
</body>
</html>