body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    text-align: center;
    margin-right: 100px;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
}

h2{
    border-bottom: 1px solid grey;
    color: greenyellow;
}

h3{
    color: orange;
}

nav{
    margin-right: 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

.main-content{
    border: 1px solid grey;
    padding: 15px;
}


li{
    width: 100%;
    padding: 10px;
    margin: 2px;
    list-style: none;
    text-align: center;
}

.home-link{
    background-color: orange;
}

.default-link{
    background-color: greenyellow;
}

