<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="header-left-link"><a href="#">Sobre Google</a></div>
                <div class="header-left-link"><a href="#">Tienda</a></div>
            </div>
            <div class="header-right">
                <div class="header-right-link"><a href="#">Gmail</a></div>
                <div class="header-right-link"><a href="#">Imágenes</a></div>
                <div class="header-right-link"><a href="#">Opciones</a></div>
                <div class="header-right-link"><a href="#">Perfil</a></div>
            </div>
        </div>
        <div class="main">
            <div class="main-up">
                <div class="main-up-img"><img src="./img/google.webp" alt="google" class="google"></div>
                <div class="main-up-search"><input type="search"></div>
            </div>
            <div class="main-down">
                <div class="main-down-up">
                    <div class="main-down-up-button"><button>Buscar en Google</button></div>
                    <div class="main-down-up-button"><button>Voy a tener suerte</button></div>
                </div>
                <div class="main-down-down">
                    <div class="main-down-down-phrase">Ofrecido por Google en:</div>
                    <div class="main-down-down-links">
                        <div class="main-down-down-link"><a href="#">català</a></div>
                        <div class="main-down-down-link"><a href="#">galego</a></div>
                        <div class="main-down-down-link"><a href="#">euskera</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-up"><a href="#">España</a></div>
            <hr>
            <div class="footer-down">
                <div class="footer-down-left">
                    <div class="footer-down-link"><a href="#">Publicidad</a></div>
                    <div class="footer-down-link"><a href="#">Empresa</a></div>
                    <div class="footer-down-link"><a href="#">Cómo funciona la Búsqueda</a></div>
                </div>
                <div class="footer-down-mid">
                    <div class="footer-down-mid-img"><img src="./img/google-img.png" alt="" class="google-img"></div>
                    <div class="footer-down-mid-link"><a href="#">Emisión neutra de carbono desde el 2007</a></div>
                </div>
                <div class="footer-down-right">
                    <div class="footer-down-link"><a href="#">Privacidad</a></div>
                    <div class="footer-down-link"><a href="#">Términos</a></div>
                    <div class="footer-down-link"><a href="#">Configuración</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>