body { 
    background-image: url(../img/daily-image.jpg);
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}

.header { 
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    margin: 5px;
}

.microsoft-logo {
    margin: 5px;
    width: 25px;
    height: 25px;
}

.header-left {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link { 
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link .iniciar-sesion {
    margin: 5px;
}

.header-link a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link .material-symbols-outlined {
    margin: 5px;
}

.material-symbols-outlined {
    color: white;
}

.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-up {
    background-color: white;
    box-shadow: 2px 2px 2px rgba(173, 172, 172,0.5);
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    border: none;
    width: 500px;
    height: 50px;
    border-radius: 10px;
}

.main-up-button .material-symbols-outlined {
    margin: 4px;
    color: rgb(6, 123, 123);
}

.main-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-down {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-down-scroll { 
    width: 90vw;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.main-down-scroll-down {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
}

.main-down-scroll-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-down-scroll-buttons-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
}

.main-down-scroll-buttons-location-info {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
}

.main-down-cover { 
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-left: 20px;

}

.main-down-cover-link a {
    color: white;
    position: relative;
    display: inline-block;
}

.text-on-image-url {
    position: absolute;
    top: 0;
    left: 10px;
}

.text-on-image {
    position: absolute;
    top: 25px;
    left: 10px;
}

.footer {
    background-color: grey;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.footer-link {
    margin-left: 25px;
    margin-right: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.footer a {
    color: rgb(186, 183, 183);
}

.header a{
    color: white;
}

.cover-image {
    border-radius: 10px;
    width: 250px;
    height: 160px;
}

.main-down-cover-link {
    margin: 10px;
}