table {
    border: 5px outset;
    border-spacing: 0;
}

tr, th, td{
    border: inset aqua;
}

th{
    background-color: green;
}

#tr-1, #tr-3{
    background-color: rgb(102, 255, 47);
}

#tr-2{
    background-color: rgb(231, 255, 47);
}

