h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    text-align: center;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
}

h2{
    border-bottom: 1px solid grey;
    color: greenyellow;
}

h3{
    color: orange;
}

div{
    border: 1px solid grey;
    padding: 15px;
}